.b-list--collection--clause {
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(183, 183, 183, 0.1);
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 200px;
    position: relative;
    cursor: pointer;
    transition: box-shadow .3s ease;
    text-decoration: none;
    color: inherit;
}
.b-list--collection--clause:last-child {
    /* margin-bottom: 0; */
}

.b-list--collection--clause---dragging {
    box-shadow: 0px 0px 40px rgba(183, 183, 183, 0.3);
}

.b-list--collection--clause--poster {
    flex: 0 0 100px;
    height: 140px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 30px;
}

.b-list--collection--clause--poster:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.b-list--collection--clause--poster--entity {
    height: 110%;
    position: absolute;
}

.b-list--collection--clause--info {
    display: flex;
    flex-flow: column;
    width: 670px;
}

.b-list--collection--clause--info--title {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
}

.b-list--collection--clause--info--genre {
    font-size: 14px;
    line-height: 18px;
    color: #B4B4B4;
    margin-bottom: 10px;
}

.b-list--collection--clause--info--description p {
    font-size: 18px;
    line-height: 26px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.b-list--collection--clause--actions {
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    flex-flow: column;
}

.b-list--collection--clause--actions--action {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    cursor: pointer;
    display: block;
}

.b-list--collection--clause--actions--action:last-child {
    margin-bottom: 0;
}

.b-list--collection--clause--actions--action--entity {
    width: 100%;
    display: block;
}

.dl-item.floating .b-list--collection--clause {
    box-shadow: 0px 0px 60px rgba(183, 183, 183, 1);
}

.dl-item.dragged .b-list--collection--clause {
    opacity: 0.5;
}