*,
*:before,
*:after {
    box-sizing: border-box;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

html {
    height: 100%;
    background-color: #fff;
}

:focus {
    outline: 0
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}

ins {
    text-decoration: none
}

del {
    text-decoration: line-through
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu/bold.eot');
    src: url('../fonts/ubuntu/bold.woff2') format('woff2'),
         url('../fonts/ubuntu/bold.woff') format('woff'),
         url('../fonts/ubuntu/bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu/light.eot');
    src: url('../fonts/ubuntu/light.woff2') format('woff2'),
         url('../fonts/ubuntu/light.woff') format('woff'),
         url('../fonts/ubuntu/light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu/medium.eot');
    src: url('../fonts/ubuntu/medium.woff2') format('woff2'),
         url('../fonts/ubuntu/medium.woff') format('woff'),
         url('../fonts/ubuntu/medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu/regular.eot');
    src: url('../fonts/ubuntu/regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu/regular.woff2') format('woff2'),
         url('../fonts/ubuntu/regular.woff') format('woff'),
         url('../fonts/ubuntu/regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;

}

button::-moz-focus-inner {
    padding: 0;
    border: none
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none
}

button,
input {
    -webkit-appearance: none
}

a {
    -webkit-transition: .3s;
    transition: .3s
}

:invalid {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0
}

:-moz-submit-invalid {
    box-shadow: none;
    border: 0
}

:-moz-ui-invalid {
    box-shadow: none;
    border: 0
}

body,
button,
input,
select,
textarea {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased
}

body {
    font-weight: 400;
    color: #1B1B1B;
    background-color: #F5F6F8;
    min-height: 100vh;
}

button,
input,
select,
textarea {
    font-size: 1em
}

.g-pseudo-link {
    border-bottom: 1px dashed;
    text-decoration: none !important;
    cursor: pointer
}

.g-cleaner {
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    font-size: 0;
    line-height: 0
}

.g-cleared:after {
    display: block;
    content: ".";
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden
}

.g-hidden {
    display: none !important
}

.g-invisible {
    visibility: hidden !important
}

.g-mobile,
.g-mobile-ib {
    display: none !important
}

.l-header--section--inside,
.l-content--section--inside,
.l-footer--section--inside {
    width: 1170px;
    margin: 0 auto;
}

.l-content--section---movie {
    padding-top: 0!important;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 60px;
}

.l-content--section---movie:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, #000000 100%);
}