.b-user-page--title {
    font-size: 52px;
    line-height: 64px;
    margin-bottom: 60px;
}

.b-user-page--collection {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.b-user-page--collection--picture {
    width: 270px;
    margin-right: 130px;
}

.b-user-page--collection--form {
    width: 770px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.b-user-page--collection--form--field {
    width: 370px;
    position: relative;
    margin-right: 30px;
    margin-bottom: 30px;
}

.b-user-page--collection--form--field:nth-child(2n) {
    margin-right: 0;
}

.b-user-page--collection--form--text {
    width: 100%;
    height: 50px;
    border: 2px solid #7263F5;
    border-radius: 10px;
    padding: 18px;
    font-size: 18px;
    line-height: 18px;
    background-color: transparent;
    position: relative;
    z-index: 2;
}

.b-user-page--collection--form--placeholder {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    transform-origin: left;
    font-size: 18px;
    line-height: 18px;
    background-color: #F5F6F8;
    padding: 0 8px;
    color: #858585;
    transition: all .3s ease;
    z-index: 1;
}

.b-user-page--collection--form--text:focus ~ .b-user-page--collection--form--placeholder {
    top: 0%;
    transform: translateY(-50%) scale(0.8);
    z-index: 3;
}

.b-user-page--collection--form--text---filled+.b-user-page--collection--form--placeholder {
    top: 0%;
    transform: translateY(-50%) scale(0.8);
    z-index: 3;
}

.b-user-page--collection--form--field---submit {
    width: 100%;
    margin: 0;
}

.b-user-page--collection--form--submit {
    width: 100%;
    height: 60px;
    border-radius: 10px;
    background-color: #7263F5;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    border: 0;
    padding: 0;
}