.b-list--title {
    font-size: 52px;
    line-height: 64px;
    margin-bottom: 60px;
    font-weight: 600;
}

.b-list--action {
    position: relative;
    background-color: #7263F5;
    width: 100%;
    border-radius: 10px;
    border: none;
    height: 130px;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    cursor: pointer;
}

.b-list--action:before,
.b-list--action:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 80px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
}
.b-list--action:after {
    transform: translate(-50%,-50%) rotate(90deg);
}