.b-list---home .b-list--collection {
    overflow: hidden;
    max-height: 830px;
    margin-bottom: 10px;
}

.b-list--open-all {
    width: 100%;
    display: block;
    border-radius: 10px;
    color: #fff;
    background-color: #7263F5;
    text-decoration: none;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
}