.l-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.b-popup {
    width: 1170px;
    opacity: 0;
    transform: translateY(60px);
    animation: fadeUp .3s ease forwards;
}

.b-authorization {
    width: 100%;
    height: 570px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.2);
    position: relative;
}

.b-authorization--close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    opacity: 0.7;
    transition: all .3s ease;
}

.b-authorization--close:hover {
    opacity: 1;
}

.b-authorization--close:before,
.b-authorization--close:after {
    content: "";
    width: 26px;
    height: 4px;
    display: block;
    background-color: #7263F5;
    border-radius: 10px;
    position: absolute;
    transform: rotate(45deg);
}

.b-authorization--close:after {
    transform: rotate(-45deg);
}

.b-authorization--collection {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: inherit;
}

.b-authorization--collection--clause {
    width: 570px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: inherit;
}

.b-authorization--collection--clause:first-child {
    margin-right: 30px;
    background-color: #A096F8;
    border-radius: 10px;
    box-shadow: 20px 0px 30px rgba(0, 0, 0, 0.1);
}

.b-authorization--title {
    width: 370px;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
}

.b-authorization--form {
    width: 370px;
}

.b-authorization--form--field {
    margin-bottom: 15px;
}

.b-authorization--form--text {
    width: 100%;
    border-radius: 10px;
    border: 2px solid #7263F5;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    transition: all .3s ease;
}

.b-authorization--form--text---error {
    border-color: #ff4678;
}

.b-authorization--form--submit {
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #7263F5;
    color: #fff;
    text-align: center;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
    line-height: 50px;
}

.b-authorization--error-text {
    width: 370px;
    position: absolute;
    top: 50px;
    background: #ff4646;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    transform: translateY(5px);
    min-height: 44px;
    transition: all .1s ease;
    opacity: 0;
    font-size: 16px;
    visibility: hidden;
}

.b-authorization--error-text---visible {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0)
    }
}