.b-cards--collection {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.b-cards {
    margin-top: 120px;
}

.b-cards--title {
    font-size: 44px;
    line-height: 48px;
    padding-bottom: 40px;
    font-weight: 600;
}