.b-button {
    width: 100%;
    display: block;
    border-radius: 10px;
    font-size: 18px;
    height: 50px;
    padding: 0;
    text-decoration: none;
    color: #000;
    text-align: center;
    background-color: transparent;
    border: 2px solid #7263F5;
    transition: all .3s ease;
    cursor: pointer;
}

.b-button---filled {
    background-color: #7263F5;
    color: #fff;
}

.b-button---light-color {
    color: #fff;
}

.b-button:hover {
    background-color: #6759DD;
    border-color: #6759DD;
    color: #fff;
}

.b-button:active {
    background-color: #5B4FC4;
    border-color: #5B4FC4;
    color: #fff;
}
