.b-promo {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.b-promo--picture {
    width: 470px;
    margin-top: 40px;
    margin-right: 30px;
}

.b-promo--picture--entity {
    width: 100%;
    display: block;
}

.b-promo--info {
    width: 670px;
}

.b-promo--title {
    font-size: 32px;
    line-height: 44px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 30px;
}

.b-promo--description p {
    font-size: 24px;
    line-height: 36px;
    margin: 0;
    margin-bottom: 40px;
}

.b-promo--description i {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    color: #9A9A9A;
    font-style: normal;
}

.b-promo--actions {
    width: 100%;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b-promo--actions--clause {
    width: 270px;
    margin-right: 30px;
}

.b-promo--actions--clause:last-child {
    margin-right: 0;
}

.b-about {
    margin-top: 170px;
}

.b-about--collection {

}

.b-about--collection--row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 120px;
}

.b-about--collection--row:last-child {
    margin-bottom: 0;
}

.b-about--collection--row--clause:first-child {
    margin-right: 130px;
}

.b-about--collection--row--clause---info {
    width: 570px;
}

.b-about--collection--row--clause--picture {
    width: 470px;
}

.b-about--collection--row--clause--picture--entity {
    width: 100%;
    display: block;
}

.b-about--collection--row--clause--title {
    font-size: 50px;
    line-height: 74px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 40px;
}

.b-about--collection--row--clause--description p{
    font-size: 24px;
    line-height: 36px;
    width: 570px;
    margin: 0;
}