.l-main-menu {
    position: fixed;
    width: 400px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 99999;
    background-color: #7263F5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
    transform: translateX(100%);
    padding: 50px;
}

.l-main-menu---open {
    transform: translateX(0);
}

.b-main-menu {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-30px);
}

.b-main-menu--close {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    opacity: 0.8;
    transition: all .3s ease;
    margin-bottom: 30px;
}

.b-main-menu--close:hover {
    opacity: 1;
}

.b-main-menu--close:before,
.b-main-menu--close:after {
    content: "";
    width: 26px;
    height: 4px;
    display: block;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    transform: rotate(45deg);
}

.b-main-menu--close:after {
    transform: rotate(-45deg);
}

.b-main-menu--collection {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.b-main-menu--collection--link {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 15px;
}

.b-main-menu--collection--link:last-child {
    margin-bottom: 0;
    font-size: 18px;
}