.b-trailer {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.b-trailer--video {
    width: 100%;
    padding-top: 56.2%;
    position: relative;
}

.b-trailer--video--entity {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.b-trailer--close {
    position: absolute;
    right: -35px;
    top: 0px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    opacity: 1;
    transition: all .3s ease;
}

.b-trailer--close:hover {
    opacity: 1;
}

.b-trailer--close:before,
.b-trailer--close:after {
    content: "";
    width: 26px;
    height: 4px;
    display: block;
    background-color: #7263F5;
    border-radius: 10px;
    position: absolute;
    transform: rotate(45deg);
}

.b-trailer--close:after {
    transform: rotate(-45deg);
}