.b-authorization--reg {
    display: block;
    width: 370px;
    text-align: left;
    font-size: 16px;
    line-height: 16px;
    color: rgb(76, 76, 230);
    margin-top: 15px;
    background: none;
    border:none;
    padding: 0;
    cursor: pointer;
}