.b-cards--collection--clause {
    width: 170px;
    margin-right: 30px;
    cursor: pointer;
    text-decoration: none;
}

.b-cards--collection--clause:hover .b-cards--collection--clause--picture {
    transform: scale(1.1);
}

.b-cards--collection--clause:last-child {
    margin-right: 0;
}

.b-cards--collection--clause--picture {
    width: 170px;
    height: 255px;
    overflow: hidden;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(183, 183, 183, 0.3);
    margin-bottom: 14px;
    -webkit-transition: -webkit-transform .3s cubic-bezier(.175,.885,.32,1.275);
    transition: -webkit-transform .3s cubic-bezier(.175,.885,.32,1.275);
    transition: transform .3s cubic-bezier(.175,.885,.32,1.275);
    transition: transform .3s cubic-bezier(.175,.885,.32,1.275),-webkit-transform .3s cubic-bezier(.175,.885,.32,1.275);
    transform-origin: center bottom;
}

.b-cards--collection--clause--picture--entity {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.b-cards--collection--clause--title {
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 5px;
    color: #1B1B1B;
}

.b-cards--collection--clause--subtitle {
    font-size: 14px;
    line-height: 18px;
    color: #969696;
}