.b-search--result--collection--clause {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px;
    border-bottom: 1px solid #333;
}

.b-search--result--collection--clause--poster {
    flex: 0 0 130px;
    height: 200px;
    position: relative;
    display: block;
    overflow: hidden;
    margin-right: 40px;
}

.b-search--result--collection--clause--poster--entity {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.b-search--result--collection--clause--info--title {
    display: block;
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
}

.b-search--result--collection--clause--info--description {
    margin: 0;
    display: block;
    width: 100%;
}

.b-list--collection--clause--actions {
    height: 132px;
    justify-content: space-between;    
}

.b-list--collection--clause--actions--add {
    background-color: #7263F5;
    width: 40px;
    height: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    transition: all .3s ease;
    cursor: pointer;
    padding: 0;
}

.b-list--collection--clause--actions--add:hover {
    background-color: #6759DD;
}

.b-list--collection--clause--actions--add:active {
    background-color: #5B4FC4;
}

.b-list--collection--clause--actions--add:before,
.b-list--collection--clause--actions--add:after {
    content: "";
    width: 20px;
    height: 4px;
    background-color: #fff;
    position: absolute;
    border-radius: 10px;
}

.b-list--collection--clause--actions--add:before {
    transform: rotate(90deg);
}

.b-list--collection--clause--actions--add:disabled {
    background-color: #aaa;
    cursor: no-drop;
}

.b-list--collection--clause--actions--share {
    background: none;
    width: 40px;
    height: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    border: 2px solid #7263F5;
    padding: 0;
    cursor: pointer;
}

.b-list--collection--clause--actions--share img{
    width: 25px;
}