.b-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 5001;
    transition: all .3s ease;
}

.b-header---scrolled {
    box-shadow: 0px 4px 60px rgba(114, 99, 245, 0.15);
}

.b-navigation {
    display: flex;
    justify-self: center;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    height: 60px;
    margin: 0 auto;
}

.b-logo {
    width: 106px;
    display: block;
}

.b-logo--link {
    width: 100%;
    display: block;
}

.b-logo--entity {
    width: 100%;
    display: block;
}

.b-navigation--actions {
    display: flex;
    align-items: center;
}

.b-navigation--actions--clause {
    margin-right: 30px;
    position: relative;
}

.b-navigation--actions--clause:last-child {
    margin-right: 0px;
}

.b-navigation--actions--clause--link {
    display: block;
    text-decoration: none;
}

.b-navigation--actions--clause--icon {
    display: block;
    width: 30px;
    height: 30px;
}

.b-navigation--actions--clause--menu {
    width: 32px;
    height: 26px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.list-quantity {
    padding: 4px;
    border-radius: 100px;
    border: 1px solid #5B4FC4;
    background-color: #7263F5;
    color: #fff;
    font-size: 12px;
    line-height: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(40%, 40%);
}

.b-navigation--actions--clause--menu--line {
    background-color: #7263F5;
    width: 100%;
    height: 2px;
    border-radius: 10px;
}

.b-navigation--actions--clause--menu--line:before,
.b-navigation--actions--clause--menu--line:after {
    content: '';
    background-color: #7263F5;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
}
.b-navigation--actions--clause--menu--line:after {
    top: auto;
    bottom: 0;
}

.b-navigation--search {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.b-navigation--search--text {
    border: 2px solid rgba(114, 98, 245, 0);
    width: 570px;
    line-height: 34px;
    border-radius: 5px;
    padding: 0 10px;
    background: #f1f1f8;
    font-size: 14px;
    transition: all .3s ease;
}

.b-navigation--search--text:focus {
    border: 2px solid rgba(114, 98, 245, 0.2);
    background: rgb(241, 241, 248, 0.6);
}

.b-navigation--search--submit {
    display: block;
    width: 20px;
    height: 20px;
    background: rgb(241, 241, 248, 0.6);
    position: absolute;
    border: none;
    right: 10px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.b-navigation--search--submit--icon {
    display: block;
    width: 100%;
}

.b-navigation--actions--clause--auth {
    padding: 0;
    background: none;
    border: none;
    display: block;
    cursor: pointer;
}