.b-person {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 1;
    position: relative;
}

.b-person--collection {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.b-person--collection--clause {
    width: 100%;
}

.b-person--collection--clause:first-child {
    width: 270px;
    margin-right: 130px;
}

.b-person--poster {
    width: 270px;
    height: 405px;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 15px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}

.b-person--info-clause {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.b-person--poster--entity {
    position: absolute;
    height: 100%;
}

.b-person--title {
    color: #1B1B1B;
    font-weight: 600;
    font-size: 34px;
    line-height: 42px;
    margin-bottom: 30px;
}

.b-credits--title {
    font-size: 32px;
    margin-bottom: 30px;
    font-weight: 600;
}

.b-credits--clause {
    color: #1B1B1B;
    text-decoration: none;
    display: flex;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
}

.b-credits--clause--info {
    display: flex;
    flex-flow: column;
    height: 80px;
}

.b-credits--clause--picture {
    width: 53.33px;
    height: 80px;
    overflow: hidden;
    border-radius: 6px;
    margin-right: 15px;
}

.b-credits--clause--picture--entity {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.b-credits--clause--title {
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
}

.b-credits--clause--original-title {
    color: #969696;
    font-size: 14px;
}

.b-credits--clause--character {
    font-size: 16px;
}
