.b-content-main {
    padding-top: 140px;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 1;
    position: relative;
}

.b-content-main--collection {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.b-content-main--collection--clause:first-child {
    width: 270px;
    margin-right: 130px;
    padding-top: 0;
}

.b-content-main--poster {
    width: 270px;
    height: 400px;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 30px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.b-content-main--poster--entity {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.b-content-main--actions--clause {
    margin-bottom: 15px;
}

.b-content-main--actions--clause:last-child {
    margin-bottom: 0;
}

.b-content-main--title {
    color: #fff;
    font-weight: 600;
    font-size: 34px;
    line-height: 42px;
    margin-bottom: 5px;
}

.b-content-main--original-title {
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
    display: block;
}

.b-content-main--description {
    color: #fff;
    font-size: 18px;
    line-height: 26px;
    max-height: 270px;
    overflow: auto;
}

/* width */
.b-content-main--description::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.b-content-main--description::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
 
/* Handle */
.b-content-main--description::-webkit-scrollbar-thumb {
  background: #7263F5;
  cursor: pointer;
  border-radius: 10px;
  transition: all .1s ease;
}

.b-content-main--description::-webkit-scrollbar-thumb:hover {
  background: #6759DD; 
}

.b-content-main--date-genre {
    display: block;
    color: #B8B8B8;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 30px;
}

.b-content-main--line {
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    display: block;
    margin-bottom: 10px;
}

.b-content-main-arrow-down {
    width: 25px;
    height: 10px;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%, -3px);
    animation: arrowBounce 1s alternate infinite ease-in-out;
    z-index: 2;
}

@keyframes arrowBounce {
    from {
        transform: translate(-50%, -3px);
    }
    to {
        transform: translate(-50%, 2px);
    }
}

.b-trailers--collection {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.b-trailers--colletion--clause {
    width: 370px;
    margin-right: 30px;
    cursor: pointer;
}

.b-trailers--colletion--clause:last-child {
    margin-right: 0;
}

.b-trailers--colletion--clause--picture {
    width: 100%;
    position: relative;
    padding-top: 56.2%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(183, 183, 183, 0.3);
    transition: transform .3s cubic-bezier(.175,.885,.32,1.275);
}

.b-trailers--colletion--clause:hover .b-trailers--colletion--clause--picture{
    transform: scale(1.04);
}

.b-trailers--colletion--clause--picture--entity {
    position: absolute;
    width: 110%;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.b-trailers--colletion--clause--picture--play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0px 0px 20px rgb(0, 0, 0));
}

.b-content-main--description-title {
    color: #fff;
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 15px;
    margin-top: 60px;
    font-weight: 600;
}